.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid lightgray;
  width: 100%;
  max-width: 800px;
  gap: 0;
  margin: 128px 0;
}

.calc * {
  padding: 32px 24px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid lightgray;
}

.calc-screen {
  grid-column: 1 / span 4;
  width: 100%;
  text-align: end;
  font-size: 48px;
  padding: 16px 24px;
  font-weight: 400;
}

.calc-zero {
  grid-column: 1 / span 2;
}

.calc-operation {
  background-color: orange;
}
