@font-face {
  font-family: baseCalc;
  src: url(./assets/fonts/Calculator.ttf);
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.calc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid lightgray;
  width: 100%;
  max-width: 800px;
  gap: 12px;
  background-color: lightgray;
  padding: 24px;
}

.calc * {
  padding: 32px 24px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: #f8eeee;
  border-radius: 5px;
  box-shadow:
    1px 1px 3px 0 rgb(0, 0, 0),
    inset 1px 1px 2px 1px white;
}

.calc *:hover {
  background-color: #e9e3e3;
}

.calc *:active {
  box-shadow:
    inset 1px 1px 5px 0 black,
    inset -1px -1px 5px 2px white;
}

.calc-screen {
  font-family: 'baseCalc', monospace;
  color: #adff2f;
  text-shadow: 0 0 5px greenyellow;
  grid-column: 1 / span 4;
  width: 100%;
  text-align: end;
  font-size: 48px;
  padding: 16px 24px;
  font-weight: 400;
  background-color: #282c34;
  cursor: auto;
  box-shadow: none;
  user-select: none;
}

.calc-screen:active {
  box-shadow: none;
}

.calc-screen:hover {
  background-color: #282c34;
}

.calc-operation {
  box-shadow:
    1px 1px 3px 0 rgb(0, 0, 0),
    inset 1px 1px 3px 1px hsl(39, 100%, 80%);
  background-color: rgb(255, 182, 47);
}

.calc-operation:active {
  box-shadow:
    inset 1px 1px 5px 0 hsl(39, 100%, 15%),
    inset -1px -1px 8px 1px hsl(39, 100%, 75%);
}

.calc-zero {
  grid-column: 1 / span 2;
}

.calc-operation:hover {
  background-color: rgb(255, 166, 0);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  max-width: 1200px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 24px 0;
}

.nav-bar ul {
  list-style: none;
  display: flex;
}

.nav-bar ul li {
  opacity: 0.6;
  margin: 0 12px;
  font-weight: 600;
}

.nav-bar ul li:hover {
  cursor: pointer;
}

a {
  border-radius: 10%;
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 12px;
  background-color: lightgray;
}

.nav-bar ul li:hover a {
  background-color: dimgray;
  color: ghostwhite;
}
